@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-nav: #1a1a1a;
  --primary: #1a1a1a
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-nav);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
